{{ define "create" }}

{{ template "header" }}

			<main class="px-3">
				<h1 role="main" class="cover-heading">Add form</h1>
				<form action="/save" method="post">
					<input type="text" name="title" placeholder="Name of action" class="form-control">
					<br>
					<textarea name="anons" id="anons" class="form-control" placeholder="Anons"></textarea>
					<br>
					<textarea name="text" id="text" class="form-control" placeholder="Text"></textarea>
					<br>
					<button class="btn btn-warning">Add</button>
				</form>
			</main>

{{ template "footer" }}

{{ end }}

