{{ define "index" }}

{{ template "header" }}

			<main class="px-3">
				<h1>Home page</h1>
				<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
				<p class="lead">
					<a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
				</p>
				<p>Name: {{ .Name }}</p>
				<p>Age: {{ .Age }}</p>

				{{ if eq .Name "Bob" }}
				<p>Hello, Bob!</p>

				{{ else }}
				<p>What is your name?</p>

				{{ end }}

				<ul>
					{{ range .Hobbies }}
					<li>{{ . }}</li>

					{{ end }}
				</ul>
			</main>

{{ template "footer" }}

{{ end }}
